html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.image {
  width: 600px;
  margin: 100px auto;
  position: relative;
  /*background: #f0f url(https://dl.dropboxusercontent.com/u/615583/zakopanniy.png) no-repeat;*/

  height: 240px;
  opacity: 1;
  /*  -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;*/

}
.hidden {
  opacity: 0;
}
.text {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  position: absolute;
  background: #fff;
  padding: 0 10px;
  text-align: center;
  font-size: 12px;
  cursor: move;
}
#text0 {
  min-height: 65px;
  line-height: 65px;
  width: 160px;
}
#text1 {
  width: 132px;
  height: 55px;
  line-height: 55px;
}
.center {
  cursor: text;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1em;
  min-width: 50px;
  display: inline-block;
  line-height: 1.1;
  vertical-align: middle;
  position: relative;
  padding: 5px;
}
.center:empty,
.center:hover,
.center:focus {
  outline: 2px #87c1eb solid;
}
.center:empty:before,
.center:hover:before,
.center:focus:before {
  content: 'Редактируй это!';
  white-space: nowrap;
}
.center:empty:after,
.center:hover:after,
.center:focus:after {
  content: '';
}
.center:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 100%;
  right: 100%;
  font-size: 10px;
  color: #87c1eb;
  margin-bottom: 50px;
  margin-right: 5px;
  text-align: right;
  font-style: italic;
}
.center:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px #87c1eb solid;
  border-radius: 100%;
  bottom: 100%;
  margin-bottom: -45px;
  margin-left: -50px;
  left: 0;
  clip: rect(0 100px 50px 50px);
}
.b-link {
  text-align: center;
}
.b-link__get {
  cursor: pointer;
  text-decoration: underline;
  color: navy;
}
