html,
body {
  margin: 0;
  padding: 0;
}
.image {
  width: 605px;
  margin: 100px auto;
  font-family: sans-serif;
  font-size: 12px;
  position: relative;
  /*background: #f0f url(https://dl.dropboxusercontent.com/u/615583/zakopanniy.png) no-repeat;*/

  height: 230px;
  opacity: 1;
  /*  -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;*/

}
.hidden {
  opacity: 0;
}
.text {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  position: absolute;
  width: 20px;
  top: 3px;
  left: 47px;
  width: 160px;
  background: #fff;
  padding: 0 20px;
  text-align: center;
  height: 85px;
  line-height: 85px;
}
.center {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1em;
  min-width: 100px;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  position: relative;
  padding: 5px;
}
.center:hover,
.center:focus {
  outline: 2px #87c1eb solid;
}
.center:hover:before,
.center:focus:before {
  content: 'Редактируй это!';
}
.center:hover:after,
.center:focus:after {
  content: '';
}
.center:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 100%;
  width: 100%;
  right: 100%;
  font-size: 10px;
  color: #87c1eb;
  margin-bottom: 50px;
  margin-right: 5px;
  text-align: right;
  font-style: italic;
}
.center:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px #87c1eb solid;
  border-radius: 100%;
  bottom: 100%;
  margin-bottom: -45px;
  margin-left: -50px;
  left: 0;
  clip: rect(0 100px 50px 50px);
}
.b-link {
  text-align: center;
}
.b-link__get {
  cursor: pointer;
  text-decoration: underline;
  color: navy;
}
